.styles h1 {
  font-weight: bold;
  font-size: 32px;
}

.styles h2 {
  font-weight: bold;
  font-size: 28px;
}

.styles h3 {
  font-weight: bold;
  font-size: 24px;
}

.styles h4 {
  font-weight: bold;
  font-size: 20px;
}

.styles h5 {
  font-weight: bold;
  font-size: 16px;
}

.styles h6 {
  font-weight: bold;
  font-size: 12px;
}

.styles ol li::marker {
  font-weight: bold;
}
